<div class="row justify-content-center">
  <div class="col-12 col-sm-5">
    <div class="d-flex justify-content-between align-items-center">
      <div class="form-check" *ngIf="!isEditing">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="{{ todo?.id }}"
          [checked]="todo?.complete"
          (click)="toggleComplete.emit(todo)"
        />

        <label class="form-check-label" for="{{ todo?.id }}">
          <del *ngIf="todo?.complete">
            {{ todo?.title }}
          </del>
          <span *ngIf="!todo?.complete">
            {{ todo?.title }}
          </span>
        </label>
      </div>
      <input
        class="form-control"
        *ngIf="isEditing"
        value="{{ todo?.title }}"
        id="{{ todo?.id }}"
        [(ngModel)]="updatedText"
      />
      <span>
        <button
          *ngIf="isEditing"
          class="btn btn-outline-success ms-3"
          type="button"
          (click)="saveChanges()"
        >
          <i class="bi bi-floppy"></i>
        </button>
        <span *ngIf="!isEditing">
          <button
            type="button"
            class="btn btn-outline-secondary"
            (click)="setIsEditing(true)"
          >
            <i class="bi bi-pencil"></i>
          </button>

          <button
            type="button"
            class="btn btn-outline-danger ms-3"
            (click)="deleteTodo.emit(todo?.id!)"
          >
            <i class="bi bi-trash"></i>
          </button>
        </span>
      </span>
    </div>
    <hr />
  </div>
</div>
